.f-carousel__slide img {
  border-radius: 20px;
  max-width: 455px;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.f-thumbs__slide__button {
  opacity: 1;
}
.f-thumbs__slide.is-nav-selected .f-thumbs__slide__button {
  opacity: 0.5;
}

.f-carousel__dots {
  display: none;
}
.f-thumbs__slide__button img {
  border-radius: 10px;
}
.is-classic .is-nav-selected .f-thumbs__slide__button::after {
  border: 2px solid var(--orange);
  border-radius: 10px;
}
.f-button {
  background: var(--white);
}
.fancybox__toolbar__column .f-button:not(:last-of-type) {
  display: none;
}
.fancybox__toolbar__column .f-button:last-of-type {
  background: transparent;
}
.fancybox__toolbar__column .f-button:last-of-type svg {
  stroke: var(--orange);
}
.f-button svg {
  stroke: var(--black);
}
.f-button:hover:not([disabled]) {
  color: var(--orange);
  background: var(--white);
}
.f-button:hover:not([disabled]).f-button svg {
  stroke: var(--orange);
}
.fancybox__nav .f-button::before {
  right: 200px;
}
.fancybox-image {
  border-radius: 10px;
  max-width: 553px;
  max-height: 553px;
}
.fancybox__backdrop {
  background: hsl(0, 0%, 0%, 75%);
}
.f-thumbs__slide__button {
  width: 90px;
}

/* DESK ONLY */
@media (min-width: 1281px) {
  .slider__container {
    max-width: 50%;
  }
  .f-carousel__nav {
    display: none;
  }
  .f-thumbs {
    display: block;
  }
}

@media (max-width: 1023px) {
  .f-carousel__slide img {
    height: 300px;
  }
  .f-thumbs {
    display: none;
  }
}

@media (min-width: 43.375rem) {
  .slider__container--mob {
    display: none;
  }
}
@media (max-width: 43.375rem) {
  .slider__container {
    max-width: 100%;
  }
  .slider__container--desk {
    display: none;
  }
  .slider__container--mob {
    position: relative;
  }

  #slider_main {
    display: flex;
  }
  .tns-liveregion.tns-visually-hidden {
    display: none;
  }
  .slider__main li {
    width: 18.75rem;
  }
  .f-button:hover:not([disabled]),
  .slider__container button {
    background-color: var(--light_grayish_blue);
    border-radius: 50%;
    height: 2.5625rem;
    width: 2.5625rem;
    color: var(--black);
  }
}
