
.slider__item img {
  max-width: 6.25rem;
  border-radius: 10px;
}
.slider__wraper {
  display: flex;
  gap: 1.875rem;
}
.slider__wraper .slider__item {
  border-radius: 10px;
  position: relative;
}
.slider__wraper .slider__item:hover img {
  border: 2px solid var(--orange);
  position: relative;
}
.slider__wraper .slider__item {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  transition: all 0.5s ease-in-out;
}

.slider__mainImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.0625rem;
}
.slider__mainImage img {
  max-width: 27.6875rem;
  max-height: 27.6875rem;
  border-radius: 10px;
}

@media (min-width: 694px) {
  .slider__wraper .slider__item:hover::after {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background: hsl(0, 0%, 100%, 75%);
  }
  .slider__container--mob {
    display: none;
  }
}
@media (max-width: 694px) {
  .slider__container--desk {
    display: none;
  }
  .slider__container--mob {
    position: relative;
  }

  #slider_main {
    display: flex;
  }
  .tns-liveregion.tns-visually-hidden {
    display: none;
  }
  .slider__main li {
    width: 300px;
  }
  .f-button:hover:not([disabled]),
  .slider__container button {
    background-color: var(--light_grayish_blue);
    border-radius: 50%;
    height: 41px;
    width: 41px;
    color: var(--black);
  }
}
.f-carousel__dots {
  display: none;
}
