<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#317EFB" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/geral.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/imgs/favicon-32x32.png"
    />

    <title>Challenges</title>
  </head>

  <body>
    <div id="app">
      <div class="container__loader" v-if="!cards">
        <div class="loader"></div>
      </div>
      <template v-else>
        <app-header> </app-header>
        <main>
          <ul class="container card__list">
            <li v-for="(item, i) in cards" :key="i" class="ediy card__item">
              <a class="item__image" :href="item.link">
                <img :src="item.img" alt="" />
              </a>
              <div class="item__content">
                <h2 class="item__title">{{item.title}}</h2>
                <ul>
                  <li v-for="(item, i) in item.langs" :key="i" :class="item">
                    {{ item }}
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </main>
      </template>
    </div>
    <template id="appHeader">
      <header class="header__container">
        <nav class="container">
          <h1 class="header__title">{{title}}</h1>
        </nav>
      </header>
    </template>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
  <script src="./assets/js/app.js"></script>
</html>
