@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

:root {
  --light-gray: rgb(219, 229, 230);
  --black: rgb(30, 30, 32);
  --white: #f0f0f0;
  font-family: 'Barlow', sans-serif;
}

body {
  background-color: var(--light-gray);
}

header nav.container {
  border-bottom: 1px solid var(--black);
  padding: 20px 0;
}

header nav div {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  height: 100%;
  width: fit-content;
  padding: 1.25rem;
}
header {
  margin-bottom: 30px;
}
.list__cards {
  margin: 0 auto;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  -webkit-box-shadow: 4px 0px 19px -4px #000000;
  box-shadow: 4px 0px 19px -4px #000000;
  border-radius: 10px;
  overflow: hidden;
  transition: 300ms ease-in-out;
  width: 33.33%;
}
.card:hover {
  opacity: 70%;
  scale: 1.1;
}
.card__content {
  padding: 20px ;
  color: var(--black);
}
.card__content ul {
  display: flex;
  gap: 30px;
  margin: 15px 0;
  text-transform: uppercase;
}
.card__content .html {
  color: rgb(106, 190, 205);
}

.card__content .css {
  color: rgb(62, 84, 163);
}

.card__content .js {
  color: rgb(207, 99, 144);
}

/* DESKTOP */
@media only screen and (min-width: 992px) {
  .container-list .card {
    margin: calc(1.25rem);
    width: calc(33.3333% - 2.5rem);
  }
}
