@import url(./reset.css);

.content__wrapper {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  width: inherit;
}

.content__wrapper .content__container:nth-child(1) {
  flex: 3;
}
.content__wrapper .content__container:nth-child(2) {
  flex: 1;
}
.content__card {
  padding: 30px;
  border-radius: 10px;
  background: var(--background);
  color: var(--color);
  height: 100%;
}
.content__container--right {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  max-width: 70%;
}
.content__container--right .row {
  display: flex;
  gap: 44px;
  position: relative;
}
.content__container--right .row:nth-child(1) .content__card:nth-child(1) {
  flex: 2;
}
.content__container--right .row:nth-child(1) .content__card:nth-child(2) {
  flex: 1;
}
.content__container--right .row:nth-child(2) .content__card:nth-child(1) {
  flex: 1;
}
.content__container--right .row:nth-child(2) .content__card:nth-child(2) {
  flex: 2;
}

.card__header {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card__header .header__photo {
  max-width: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--background);
}

.header__name span {
  opacity: 50%;
}
.card__content p {
  margin: 30px 0;
  z-index: 2;
  position: relative;
  font-size: 1.85em;
}
.card__content span {
  opacity: 70%;
  font-size: 1.25em;
  line-height: 1.55;
  letter-spacing: 1.2px;
}
