@import url(./reset.css);
.content__wrapper  p {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.content__wrapper {
  padding: 3rem 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: repeat(2, 280px);
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
}
.content__card {
  padding: 1.2rem;
  border-radius: 10px;
  background: var(--background);
  color: var(--color);
  height: 100%;
  box-shadow: 0 0.8rem 1.7rem rgba(25, 33, 46, 0.25),
    0 0.6rem 0.6rem rgba(25, 33, 46, 0.22);
}
.content__wrapper .content__card:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
}
.content__wrapper .content__card:nth-child(1)::after {
  content: url(../img/bg-pattern-quotation.svg);
  position: absolute;
  top: 0;
  right: 25%;
}
.content__wrapper .content__card:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}
.content__wrapper .content__card:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.content__wrapper .content__card:nth-child(4) {
  grid-area: 2 / 2 / 3 / 4;
}
.content__wrapper .content__card:nth-child(5) {
  grid-area: 1 / 4 / 3 / 5;
}
.card__header {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card__header .header__photo {
  width: 2.125rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--background);
}
.header__name {
  z-index: 2;
}
.header__name span {
  opacity: 50%;
  font-size: .75rem;
}
.card__content .text {
  z-index: 2;
  position: relative;
  font-size: 1.3em;
  margin: 1rem 0;
}
.card__content .quote {
  opacity: 70%;
  font-size: .85em;
  margin-right: 1rem;
  line-height: 1.2rem;
}

@media (max-width: 1124px) {
  .content__card {
    width: 100%;
  }
  .content__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .content__wrapper .content__card:nth-child(1)::after {
    right: 10%;
  }
}
