body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: var(--font__principal);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  min-height: 90vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  min-height: 10vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #111;
  font-size: 16px;
}
footer,
footer a {
  color: #111;
  font-size: 16px;
  transition: 300ms ease-in-out;
  font-weight: 500;
  font-family: var(--font__principal);
}
footer a:hover {
  text-decoration: underline;
  color: var(--accent__color);
}
