@import url(./reset.css);

body {
  overflow-x: hidden;
}
header {
  background-image: url(../img/background-pattern-desktop.svg);
  min-height: 30vh;
  margin: 0 auto;
}

.faq__container {
  background: var(--white);
  padding: 1.875rem;
  border-radius: 30px;
  max-width: 600px;
  margin: -110px auto 60px auto;
}
.faq__container h1 {
  color: var(--dark_purple);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
}
.faq__container h1::before {
  content: url(../img/icon-star.svg);
}
.faq__item {
  border-bottom: 1px solid var(--light_pink);
  max-height: 80px;
  overflow: hidden;
  padding: 1.5625rem 0;
  transition: all 0.5s ease-in-out;
}
.faq__item:last-of-type {
  border: none;
}
.active.faq__item {
  max-height: 100vh;
}
.faq__p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq__p p {
  font-weight: 600;
  font-size: 1rem;
}
.faq__p:hover {
  color: #b124ef;
}
.faq__p::after {
  content: url(../img/icon-plus.svg);
  transition: all 0.5s ease-in-out;
}
.active .faq__p::after {
  content: url(../img/icon-minus.svg);
}
.faq__r {
  color: var(--grayish_purple);
  padding-top: 1.5625rem;
  line-height: 1.4;
}
@media (max-width: 600px) {
  header {
    background-image: url(../img/background-pattern-mobile.svg);
    height: 231px;
    overflow: hidden;
  }
  .faq__container {
    padding: 30px;
  }
  .faq__container h1 {
    font-size: 2.3em;
  }
  .faq__item {
    padding: 20px 0;
  }
  .faq__p {
    gap: 20px;
  }
  .faq__container {
    margin: -150px 20px 0 20px;
  }
}
