@import url(./src/css/reset.css);
@import url(./src/css/slider.css);
@import url(./src/css/header.css);
@import url(./src/css/info.css);

.container {
  max-width: 71.5625rem;
  margin: 0 auto;
  gap: 60px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
}
.overlay {
  transition-delay: 0.5ms;
}
.overlay::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: hsl(0, 0%, 0%, 70%);
}
@media (max-width: 1023px) {
  main .container {
    gap: 20px;
  }
  .info__container {
    padding: 0;
  }
}

@media (min-width: 1281px) {
  .info__container,
  .slider__container {
    max-width: 45%;
  }
  .container {
    padding: 0 10px;
  }
  main .container {
    padding: 30px 20px;
  }
}

@media (max-width: 1023px) {
  .info__container {
    padding: 0 20px;
  }
}
