@import url(./src/css/reset.css);
@import url(./src/css/slider.css);
@import url(./src/css/header.css);
@import url(./src/css/info.css);
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  --orange: hsl(26, 100%, 55%);
  --pale_orange: hsl(25, 100%, 94%);
  --very_dark_blue: hsl(220, 13%, 13%);
  --dark_grayish_blue: hsl(219, 9%, 45%);
  --grayish_blue: hsl(220, 14%, 75%);
  --light_grayish_blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --font: 'Kumbh Sans', sans-serif;
  font-family: var(--font) ;
}
.container {
  max-width: 71.5625rem;
  margin: 0 auto;
  gap: 60px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
}
.overlay {
  transition-delay: 0.5ms;
}
.overlay::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: hsl(0, 0%, 0%, 70%);
}
@media (max-width: 1023px) {
  main .container {
    gap: 20px;
  }
  .info__container {
    padding: 0;
  }
}

@media (min-width: 1281px) {
  .info__container,
  .slider__container {
    max-width: 45%;
  }
  .container {
    padding: 0 10px;
  }
  main .container {
    padding: 30px 20px;
  }
}

@media (max-width: 1023px) {
  .info__container {
    padding: 0 20px;
  }
}
