body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: var(--font__principal);

}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
}
input {
  display: none;
}
button {
  border: none;
  background: transparent;
  width: 100%;
  font-family: var(--font__principal);
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
footer a:hover {
  text-decoration: underline;
  color: var(--accent);
}
footer,
footer a {
  color: #fff;
  font-size: 16px;
  transition: 300ms ease-in-out;
  font-weight: 500;
}
footer a:hover {
  text-decoration: underline;
  color: var(--accent);
}
