@import url(./reset.css);
.card__wrapper {
  border-radius: 1.875rem;
  max-width: 46.875rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 1rem auto;
  box-shadow: 1px 1px 25px #0000002c;
}
.card__result,
.card__summary {
  max-width: 50%;
  width: 100%;
  padding: 2.8125rem;
}
@media (max-width: 900px) {
  .card__result,
  .card__summary {
    max-width: 100%;
    padding: 1.5625rem;
  }
}
/* RESULTAD */
.card__result {
  background: var(--bg);
  border-radius: 1.875rem;
  padding: 2.8125rem 4.375rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  flex-direction: column;
  gap: 1.875rem;
}

.card__result h2,
.card__result h1 {
  text-align: center;
  font-weight: 400;
}
.card__result h1 {
  font-size: 1.5em;
  color: var(--pale_blue);
}
.card__result h2 {
  font-size: 2em;
  color: var(--white);
}
.card__result p {
  text-align: center;
  font-size: 16px;
  color: var(--white);
  opacity: 0.5;
}
.card__result .result {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background: var(--circle);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  flex-direction: column;
}
.card__result .result span:nth-child(1) {
  color: var(--white);
  font-size: 3.5em;
}
.card__result .result span:nth-child(2) {
  color: var(--pale_blue);
  opacity: 0.3;
}

/* SUMMARY */
.card__summary h2 {
  margin-bottom: 1rem;
}
.summary__item img {
  max-width: 1.5625rem;
  transition: 300ms ease-in-out;
}
.summary__item:hover img {
  scale: 1.1;
}
.summary__item {
  cursor: pointer;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  gap: .625rem;
  border-radius: .625rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.summary__item img,
.summary__item p {
  flex: 1;
}
.summary__item span {
  color: #9496a5;
  font-weight: 600;
}
.summary__item span span {
  color: var(--dark_gray_blue);
}

.card__summary button {
  width: 100%;
  border-radius: 40px;
  height: 3.4375rem;
  border: none;
  background: var(--dark_gray_blue);
  color: var(--pale_blue);
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
  font-family: Hanken Grotesk;
}
.card__summary button:hover {
  background: var(--bg);
}
